<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just One Cheese!</title>
</head>
<body>
  <h1>One Cheese!</h1>

  <h1>Cheese: <%= cheese.name %></h1>
  <h2>Price: $<%= cheese.price %></h2>
  <h2>Age: <%= cheese.age %></h2>
  <h2>Fat %: <%= cheese.fatPercentage %>%</h2>

  <form method="POST" action="/cheeses/<%= cheeseId %>">
    <label>New name:</label>
    <input type="text" name="name" />
    <br/>
    <button type="submit">Update Cheese!</button>
  </form>

  <form method="POST" action="/cheeses/<%= cheeseId %>/delete">
    <button type="submit">Delete cheese!</button>
  </form>
</body>
</html>
